# TODO: descoment this line after test
# reconigtion voice
tqdm==4.66.4
whisper
python-telegram-bot==13.15
dotenv

# GPIO for raspberry pi
# RPi.GPIO>=0.7.0
requests
pydantic


# API REST
fastapi>=0.68.0
uvicorn>=0.15.0
