# TODO: descoment this line after test
# RPi.GPIO>=0.7.0
pvporcupine
requests

# reconigtion voice
#openai-whisper
whisper
pyttsx3
sounddevice
scipy

# reconigtion command voice
SpeechRecognition
PyAudio